.container {
  margin: 40px;
  width: 600px;
  font-family: Helvetica;
}

h1 {
  background-color: #617979;
  margin: 0px;
  padding: 20px;
  border-radius: 5px 5px 0px 0px;
  text-align: center;
}

.form-container {
  padding: 200px;
}

.form {
  display: grid;
  gap: 40px;
  justify-self: center;
  align-self: center;
  grid-template-columns: repeat(2, 1fr);
  background-color: #c8d8e3;
  padding: 20px;
  border-radius: 0px 0px 5px 5px;
}

.notification-row {
  grid-column: 1 / 3;
  align-self: center;
}

.supervisor-row  {
  grid-column: 1 / 3;
  align-self: center;
  justify-self: center;
}

input[type=text], input[type=email], input[type=tel], select {
  padding: 10px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
}

.submit {
  grid-column: 1 / 3;
  align-self: center;
  justify-self: center;
}

input[type=submit] {
  grid-column: 1 / 3;
  align-self: center;
  justify-self: center;
  padding: 10px 30px;
  border-radius: 5px;
  background-color: #617979;
  color: white;
}

.response {
  grid-column: 1 / 3;
  align-self: center;
  justify-self: center;
  padding: 10px 30px;
}

label {
  color: #617979;
}

input {
  border: none;
}

input[type=text], input[type=tel],  input[type=email] {
  width: 100%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 9999s ease-in-out 0s;
}

.checkbox {
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
}

input[type=checkbox] {
  appearance: none;
  font: inherit;
  color: currentColor;
  width: 1em;
  height: 1em;
  border: 0.17em solid #617979;
  background-color: white;
  display: grid;
  place-content: center;
  margin: 0;
}

input[type=checkbox]::before {
  content: '';
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  background-color: #617979;
}

input[type=checkbox]:checked::before {
  transform: scale(1);
}

.response > div{
  color: red;
  padding: 5px
}

div[className=response]:first-child {
  text-align: center;
}